{% load static %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'movie_css/movie_page.css' %}">
<meta charset='UTF-8'>
<link rel="icon" href="{% static 'pictures/cinema_logo.png' %}">

<title>Checkout</title>
</head>
<header>

</header>

<body>
<div class="container">
<div id="topBar">
<ul>
<li><a href="http://127.0.0.1:8000/">
<img src="{% static 'pictures/cinema_logo.png' %}" alt="main logo" id="cinemalogo"/>
</a>
</li>
</div>
<div class="smallcontainer">
    <h2>Ticket Purchase Confirmed!</h2>
    <p>Thank you for placing your order with us! We hope you enjoy the show! All tickets are refundable up to 30 minutes before the showing. If you have any questions, please email our customer support email!</p>
    <a href="http://127.0.0.1:8000/">Click here to go back to the home page.</a>
</div>
</div>


</body>
</html>