{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta charset='UTF-8'>
    <title>Moovies :D</title>
</head>
<body>
<div class="container">
<div id="topBar">
                    <ul>
                        <li><a href="http://127.0.0.1:8000/">
                                <img src="{% static 'pictures/cinema_logo.png' %}" alt="main logo" id="cinemalogo"/>
                            </a>
                        </li>
                     </ul>
  </div>

            <p>Your account has been activated. You may now log in!</p>
  <a id="link" href="http://127.0.0.1:8000/">Click here to go back to homepage</a>
</div>
</body>