
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}">
    <meta charset='UTF-8'>
    <title>Moovies :D</title>
</head>
<div class="container">
<div id="topBar">
                    <ul>
                        <li><a href="http://127.0.0.1:8000/">
                                <img src="{% static 'pictures/cinema_logo.png' %}" alt="main logo" id="cinemalogo"/>
                            </a>
                        </li>
                     </ul>
            </div>
{% block content %}
  <p>
    Your password has been set.
    You may go ahead and <a href="{% url 'login' %}">log in</a> now.
  </p>
{% endblock %}
</div>