{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta charset='UTF-8'>
    <title>Moovies :D</title>
</head>
<body>
<div class="container">
<div id="topBar">
                    <ul>
                        <li><a href="http://127.0.0.1:8000/">
                                <img src="{% static 'pictures/cinema_logo.png' %}" alt="main logo" id="cinemalogo"/>
                            </a>
                        </li>
                     </ul>
            </div>
{% block content %}
  {% if validlink %}
    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Change password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}
</div>
</body>