{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta charset='UTF-8'>
    <title>Moovies :D</title>
</head>
<body>
<div class="container">
<div id="topBar">
                    <ul>
                        <li><a href="http://127.0.0.1:8000/">
                                <img src="{% static 'pictures/cinema_logo.png' %}" alt="main logo" id="cinemalogo"/>
                            </a>
                        </li>
                     </ul>
            </div>
{% block content %}
  <h3>Reset password</h3>
  <form method="post">
    <div id="smallcontainer">
    <div id="password_container">
    {% csrf_token %}
    {{ form.as_p }}
    </div>
      </div>
    <br><br><br>
        <button type="submit" id="loginbtn">Reset Password</button><br>
  </form>
{% endblock %}
</div>
</body>