{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta charset='UTF-8'>
    <title>Moovies :D</title>
</head>
<body>
<div class="container">
<div id="topBar">
                    <ul>
                        <li><a href="http://127.0.0.1:8000/">
                                <img src="{% static 'pictures/cinema_logo.png' %}" alt="main logo" id="cinemalogo"/>
                            </a>
                        </li>
                     </ul>
            </div>
{% block content %}
  <p>
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
  <p>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>
  <a id="link" href="http://127.0.0.1:8000/">Click here to go back to homepage</a>

{% endblock %}
</div>
</body>